{% extends "base.html" %}
{% block content %}
<div class="row">
    <form method="get">
        <div class="col-xs-3">
            <input class="search-input" placeholder="Please input your query" name="query" value="{{query}}"></input>
        </div>
        <div class="col-xs-2">
            <input class="btn btn-primary" type="submit" value="search"></input>
        </div>
    </form>
</div>
<div class="row">
    <ul>
        {% for photo in photos %}
        <li>
            <a href="./search?query={{photo.caption}}"><img src="/static/{{photo.url}}"/></a>

            <p>{{photo.caption}}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
